<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

        <h1>Collaborators</h1>

        <% } %>
        <% if(collaborators) { %>
          <p>
            <ul class ="list-group">
              <% collaborators.forEach((collaborator) => {  %>
                <li class="list-group-item">
                  <%= collaborator.User.name %>
                  <% if(currentUser && (currentUser.role === "premium" || currentUser.role === "admin")) { %>
                  <% } %>
                  </li>
                  <% }) %>
            </ul>
          </p>
          <% } %>
          <% } %>
        <% } else { %>
            <h1>No collaborations found</h1>
        <% } %>

    </main>

  </body>
</html>